
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>
<fieldset>
    <div class="display-label">Mã loại: @Html.Encode(Model.maloai)</div>
    <div class="display-label">Tên loại: @Html.Encode(Model.tenlpai)</div>
</fieldset>
@using (Html.BeginForm())
{
    <div>
        <input type="submit" value="Delete" />
        @Html.ActionLink("Back to list", "Index")
    </div>
}