
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="editor-field">
            Tên loại: <input type="submit" value="Save" />
            @Html.TextBox("tenloai");
            @ViewData["Error"]
        </div>
        <p>
           
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to list", "Index")
</div>