
@{
    ViewBag.Title = "XacnhanDonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Don hang da duoc xac nhan</h2>
<h3>Chung toi se giao hang cho ban som nhat co the</h3>

<p>
    @Html.ActionLink("Về trang chủ", "Index", "Home")
</p>

